<a href="https://colab.research.google.com/github/SowjanyaKiran/sowjanya-/blob/main/PYTHON_PROGRAMMING_BASICS_ASSIGNMENT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1.Variables in Python**

In [ ]:
x = 5
y = 10.5
z = "Hello, Python!"
is_python_fun = True

# Printing the values and their types
print("x:", x, "Type:", type(x))
print("y:", y, "Type:", type(y))
print("z:", z, "Type:", type(z))
print("is_python_fun:", is_python_fun, "Type:", type(is_python_fun))

x: 5 Type: <class 'int'>
y: 10.5 Type: <class 'float'>
z: Hello, Python! Type: <class 'str'>
is_python_fun: True Type: <class 'bool'>

In [13]:
yeah = 'The Wise Old Owl'
how = 'Wisdom comes from listening, observing, and learning.'
sowjanya = True

print("yeah:", yeah)
print("how:", how)
print("sowjanya:",sowjanya)

yeah: The Wise Old Owl
how: Wisdom comes from listening, observing, and learning.
sowjanya: True

# **2.Data Types and Operations**

In [ ]:
s = 5
r = 7
print("addition:", s + r)
print("substraction:", s - r)
print("multiplication:", s * r)
print("division:", s / r)
print("modulus:", s % r)
print("floor division:", s // r)
print("Exponentiation:", s ** r)

addition: 12
substraction: -2
multiplication: 35
division: 0.7142857142857143
modulus: 5
floor division: 0
Exponentiation: 78125

# **3.Strings and String Operations**

In [11]:
string = "Wisdom comes from listening more and speaking less."
print("upper case:" ,string.upper())
print("lower case:" ,string.lower())
print("title case:" ,string.title())
print("Replac:" ,string.replace("speaking less","speaking less,"))
print("split:" ,string.split())
print("Concatenation:", string + "and observing everything carefully before taking action.")
print("Repetition:", string * 2)

upper case: WISDOM COMES FROM LISTENING MORE AND SPEAKING LESS.
lower case: wisdom comes from listening more and speaking less.
title case: Wisdom Comes From Listening More And Speaking Less.
Replac: Wisdom comes from listening more and speaking less,.
split: ['Wisdom', 'comes', 'from', 'listening', 'more', 'and', 'speaking', 'less.']
Concatenation: Wisdom comes from listening more and speaking less.and observing everything carefully before taking action.
Repetition: Wisdom comes from listening more and speaking less.Wisdom comes from listening more and speaking less.

# **4.Data Structures in Python**
**Lists and its Operations**

In [10]:
list = [1, 2, 3, 4, 5]
print("Original List:", list)
list.append(6)
print("After Append:", list)
list.remove(2)
print("After Remove:", list)
list.insert(4, 99)
print("After Insert:", list)
list.sort()
print("Sorted List:", list)

Original List: [1, 2, 3, 4, 5]
After Append: [1, 2, 3, 4, 5, 6]
After Remove: [1, 3, 4, 5, 6]
After Insert: [1, 3, 4, 5, 99, 6]
Sorted List: [1, 3, 4, 5, 6, 99]

# **5.Tuples and its Operations(Immutable)**

In [20]:
tup = ('a' , 'b' ,'c ' , 'd' ,'e')
print('Tuple:',tup)
print ('First element :' , tup[1])
print ('last element :' , tup[-1])

Tuple: ('a', 'b', 'c ', 'd', 'e')
First element : b
last element : e

In [ ]:
my_tuple = (10, 20, 30, 40, 50, 60)
print("Tuple Elements:", my_tuple)
print("Accessing Element:", my_tuple[5])

Tuple Elements: (10, 20, 30, 40, 50, 60)
Accessing Element: 60

# **6.Sets and its Operations (Unique Elements)**

In [ ]:
set = {1,2,3,4,5,6,7,8,9}
print("original set:" ,set)
set.add(10)
print("after add:" ,set)
set.remove(10)
set.remove(9)
print("after remove:" ,set)

original set: {1, 2, 3, 4, 5, 6, 7, 8, 9}
after add: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
after remove: {1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
set_dup = {1, 2, 3, 4, 5, 1, 2}

In [ ]:
set_dup

{1, 2, 3, 4, 5}

# **7.Dictionary and its Operations (Key-Value Pairs)**

In [12]:
my_dict = {"name" : "sowjanya" , "age" : "26" , "designation" : "software engineer" , "place" : "mysore"}
print("Dictionary:",my_dict)
my_dict["age"]=25
print("After Update:",my_dict)
del my_dict["place"]
print("After Delete:",my_dict)
my_dict["place"]="mysore"
print("After Update:",my_dict)
my_dict["state"]="karnataka"
print("After Update:",my_dict)

Dictionary: {'name': 'sowjanya', 'age': '26', 'designation': 'software engineer', 'place': 'mysore'}
After Update: {'name': 'sowjanya', 'age': 25, 'designation': 'software engineer', 'place': 'mysore'}
After Delete: {'name': 'sowjanya', 'age': 25, 'designation': 'software engineer'}
After Update: {'name': 'sowjanya', 'age': 25, 'designation': 'software engineer', 'place': 'mysore'}
After Update: {'name': 'sowjanya', 'age': 25, 'designation': 'software engineer', 'place': 'mysore', 'state': 'karnataka'}

# **8.Conditional Statements**

In [14]:
a = 0
if a > 0:
  print('a is greater than 0')
elif a < 0:
  print('a is less than 0')
else:
  print('a is equal to 0')

a is equal to 0

In [ ]:
num = 3
if num > 0:
  print("positive number")
elif num < 0:
  print("negative number")
else:
  print("zero")

positive number

In [6]:
num = 4
if num > 0:
  print("positive number")
elif num < 0:
  print("negative number")
else:
  print("zero")

positive number

In [4]:
def check_even_odd(num):
  if num % 2 == 0:
    return "even"
  else:
    return "odd"
print("Number 88 is:", check_even_odd(88))

Number 88 is: even

In [5]:
def check_even_odd(num):
  if num % 2 == 0:
    return "even"
  else:
    return "odd"
print("Number 77 is:", check_even_odd(77))

Number 77 is: odd

# **9.Loops in Python**

In [15]:
fruits = ['apple','banana','cherry']
for x in fruits:
  print(x)

apple
banana
cherry

In [ ]:
print("For Loop Example:")
for i in range (1,10):
  print(i)

For Loop Example:
1
2
3
4
5
6
7
8
9

In [16]:
var = 10
while var > 0:
  print('Current variable value :',var)
  var = var - 1
  if var == 4:
    break
print('Good bye!')

Current variable value : 10
Current variable value : 9
Current variable value : 8
Current variable value : 7
Current variable value : 6
Current variable value : 5
Good bye!

In [ ]:
print("while loop example:")
count=0
while count < 4:
  print(count)
  count+=1

while loop example:
0
1
2
3

# **10.User-Defined Functions**

In [ ]:
def greet(name):
  return "hello," + name + "!"
print(greet("sowjanya"))

hello,sowjanya!

In [ ]:
def power(base,exp=2):
  return base ** exp
print("Power Function Example:", power(10))

Power Function Example: 100

# **11.Lambda Functions**

In [17]:
x = lambda a : a + 10
print(x(5))
y = lambda a, b: a * b
print(y(5 , 6))
z = lambda a , b, c : a*b+c
print(z(5 , 6, 3))

15
30
33

In [ ]:
times_two = lambda x : x * 2
print("sum using lambda:",times_two(5))

sum using lambda: 10

# **12.String Operations**

In [9]:
message = "Once upon a time, in a quiet forest, there lived an old owl. He sat on a tall tree, observing everything around him. He rarely spoke but listened carefully to everything the animals said.One day, a young rabbit ran up to him, complaining about how unfair life was.I always get caught by hunters, while the foxes and deer escape! he cried.The owl listened patiently and then said, Instead of complaining, observe and learn. The deer runs fast, and the fox is clever. Use your strengths wisely.The rabbit took the owl’s advice and started paying attention. He learned new ways to hide, run in zigzags, and escape danger. Soon, he became one of the smartest animals in the forest."
print("Substring Check:", "Once upon a time" in message)
print("String Slice:", message[3:36])
print("String Reverse:", message[::-1])

Substring Check: True
String Slice: e upon a time, in a quiet forest,
String Reverse: .tserof eht ni slamina tsetrams eht fo eno emaceb eh ,nooS .regnad epacse dna ,sgazgiz ni nur ,edih ot syaw wen denrael eH .noitnetta gniyap detrats dna ecivda s’lwo eht koot tibbar ehT.ylesiw shtgnerts ruoy esU .revelc si xof eht dna ,tsaf snur reed ehT .nrael dna evresbo ,gninialpmoc fo daetsnI ,dias neht dna yltneitap denetsil lwo ehT.deirc eh !epacse reed dna sexof eht elihw ,sretnuh yb thguac teg syawla I.saw efil riafnu woh tuoba gninialpmoc ,mih ot pu nar tibbar gnuoy a ,yad enO.dias slamina eht gnihtyreve ot ylluferac denetsil tub ekops ylerar eH .mih dnuora gnihtyreve gnivresbo ,eert llat a no tas eH .lwo dlo na devil ereht ,tserof teiuq a ni ,emit a nopu ecnO